<h1>Salon</h1>

<p>Add Stylist:</p>

<form action="/stylists" method="post">
  <label for="stylist_name">Stylist Name:</label>
  <input id="stylist_name" name="stylist_name" type="text">

  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>
</br>
<% if @stylists.any?() %>
<p>Click a stylist below to view clients:</p>
</br>
<div class="list-group">
  <% @stylists.each do |stylist| %>
    <a href="/stylists/<%= stylist.id() %>" class="list-group-item"> <%= stylist.stylist_name() %> </a>
  <% end %>
</div>
<% else %>
<p>Hire Stylists!</p>
<% end %>
